<article id="maps">
    <div class="row">
        <div class="col-sm-4">
            <button class="line-view-push"></button>
            <button class="grid-view-push"></button>
            <span>
                <span class="blue title">250</span> Prospets trouvés</span>

        </div>
        <div class="col-sm-8">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 map-modules grid-view">
            {{partial "map-module" lat="48.877803" lng="2.318393"}}
            {{partial "map-module" lat="48.869258" lng="2.360110"}}
            {{partial "map-module" lat="48.876379" lng="2.391001"}}
            {{partial "map-module" lat="48.861217" lng="2.364234"}}
            {{partial "map-module" lat="48.840970" lng="2.330073"}}
            {{partial "map-module" lat="48.884222" lng="2.342776"}}
            {{partial "map-module" lat="48.836111" lng="2.287673"}}
            {{partial "map-module" lat="48.830178" lng="2.237290"}}
            {{partial "map-module" lat="48.889061" lng="2.215074"}}
            {{partial "map-module" lat="48.917705" lng="2.299920"}}
            {{partial "map-module" lat="48.944739" lng="2.380397"}}
            {{partial "map-module" lat="48.883317" lng="2.428884"}}
            {{partial "map-module" lat="48.803954" lng="2.387312"}}

        </div>
        <div class="col-sm-8">
            {{> google-map}}
        </div>
    </div>


</article>